.game-events-filters-group {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.input-min-players { grid-area: 2 / 1 / 3 / 2; }
.input-max-players { grid-area: 2 / 2 / 3 / 3; }
.input-max-level  { grid-area: 2 / 3 / 3 / 4; }
.reset-button { grid-area: 2 / 4 / 3 / 5; }
.create-game-event-button { grid-area: 2 / 5 / 3 / 6; }
.past-events-checkbox { grid-area: 3 / 1 / 3 / 2; }

.form-control {
    width: 40% !important;
}

.reset-button, .create-game-event-button, .create-game-event-form-button {
  width: 30% !important;
  background-color: #AB8E90;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.create-game-event-button {
  width: 14% !important;
}

.create-game-event-form-button{
  width: 25% !important;
}

.reset-button:hover, .create-game-event-button:hover, .reset-button:focus, .create-game-event-button:focus, .create-game-event-form-button:focus, .create-game-event-form-button:hover{
  background-color: #bfa3a5;
}


.input-number {
    width: 100px;
    text-align: center;
}

table {

    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #F0D2C9;
}

tr:hover {
    background-color: #fce7e1;
}

h1 {
    color: #AB8E90;
}
