{% extends 'base.html'%} {%block content%}
<main>
  <h2>Welcome to MeetBalls</h2>
  <p>
    MeetBalls is an app that lets you schedule events to play with people near
    you. Whether you're into sports, games, or just want to hang out, MeetBalls
    makes it easy to find like-minded people to play with.
  </p>
  <p>With MeetBalls, you can:</p>
  <ul>
    <li>Schedule an event for a specific activity, location, date, and time</li>
    <li>
      Invite others to join your event and specify how many extra people you
      want to play with
    </li>
    <li>
      Chat with the other users in a group chat to coordinate and plan your
      event
    </li>
    <li>
      Browse and join other events that have been scheduled by other users
    </li>
  </ul>
</main>
{%endblock%}
