{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Game Event</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/game-event.css' %}">
    <script>
        setTimeout(function() {
            location.reload();
        }, 5000);
    </script>
  </head>
  <body>
    {% if time %}
        <h1>Event Details</h1>
        <p>Time: {{ time }}</p>
        <p>Level: {{ level_of_game }}</p>
        <p>Min Players: {{ min_number_of_players }}</p>
        <p>Max Players: {{ max_number_of_players }}</p>
        <p>Court: {{ court }} {{ neighborhood }}</p>
        <p>Game: {{ ball_game }}</p>
        <h2>Players:</h2>
        <table class="nice-table">
            <thead>
                <tr>
                <th> </th>
                <th>Name</th>
                <th>Brings Ball</th>
            </tr>
            </thead>
                <tbody>
                    {% for player in event_players %}
                        <tr>
                            <td>
                                <img src="{% static 'images/favicon.ico' %}" alt="Ball Image" class="ball-image">
                            </td>
                            <td>{{ player.first_name }} {{ player.last_name }}</td>
                            <td>
                                {% if player.brings_ball == True %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                {% if in_event %}
                    <a href="/game-events/remove-from-event/{{ id }}/"
                    class="round-button"
                    onclick="window.open(this.href, 'Remove Event', 'width=400,height=250,left='+((screen.width-400)/2)+',top='+((screen.height-515)/2)); return false;">
                    Remove Event
                    </a>
                {% else %}
                    <a href="/game-events/join-event/{{ id }}/"
                    class="round-button"
                    onclick="window.open(this.href, 'Join Event', 'width=400,height=250,left='+((screen.width-400)/2)+',top='+((screen.height-515)/2)); return false;">
                    Join Event
                    </a>
                {% endif %}
            </div>
       {% else %} 
        <div>
            <h1> Event Does not exist. </h1>
        </div>
       {% endif %}
  </body>
</html>
{%endblock%}
